* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #70ce18, #646bd3);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 740px;
    background: rgba(0, 0, 0, 0.116);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2,h3 {
    color: #2f5031;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef049;
    border-radius: 30px;
    /* padding-left: 260px; */
    margin-bottom: 25px;
}
#butt{
    background: none;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ffa845;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
button:hover{
    background: #d3852d;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/checked.png);
}
.delete-button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.delete-button:hover {
    background: #f14033;
    color: black;
}
.task-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 50px;
    top: 12px;
}
.task-buttons button {
    background: #5c9cc7;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.task-buttons button:hover{
    background: #297192;
}
.status {
    padding: 5px 10px;
    background: #ffa845;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}
.description {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
